.todo-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

/* Form group */
.todo-form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: max-content;
  margin-top: 1.2rem;
  transition: all .25s ease-in-out;
}

.todo-form-group label {
  margin: .5rem 1rem;
  font-weight: bold;
}

.todo-form-group #deadline {
  color: var(--medium-dark-color);
}

/* Form Input */
.todo-input,
.search-input {
  width: 30rem;
  padding: 0.8rem 1rem;
  border: none;
  font-size: var(--text-md);
  background: #fff;
  box-shadow:  0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}

.todo-input:focus::placeholder {
  color: var(--dark-color);
}

/* Todo list container */
.todo-container {
  display: flex;
  justify-content: center;
  min-height: 20rem;
  padding-bottom: 5rem;
}

/* Todo list */
.todo-list {
  width: 50vw;
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  font-size: inherit;
  color: var(--dark-color);
  background: #fff;
  box-shadow:  0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  transition: all 1s ease-in-out;
}

.todo li {
  width: 87%;
  padding: .8rem 1.2rem;
}

/* Todo text */
.todo-subject {
  padding-right: 1.2rem;
  font-weight: bold;
}

.todo-description {
  padding-right: 1.2rem;
  font-style: italic;
}

.todo-deadline {
  color: var(--medium-dark-color);
  font-size: var(--text-sm);
  padding-left: 1.2rem;
  float: right;
}

/* Buttons */
.todo-input:focus,
.search-input:focus,
.trash-btn:focus,
.complete-btn:focus {
  outline: none;
}

/* Add */
.add-btn {
  width: 12rem;
}

.plus-btn {
  margin-left: 0.5rem;
}

/* Search */
.search-filter-container {
  position: absolute;
  width: 85vw;
  bottom: -125px;
}

.search-input {
  width: 12rem;
  height: 2.8rem;
  font-size: var(--text-md);
  font-family: inherit;
  margin: 0.5rem 0;
  padding: 0 2rem;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  transition: all .3s ease-in-out;
}

.search-input:focus {
  width: 20rem;
}

.search-input:focus::placeholder {
  color: var(--dark-color);
}

/* Check / Trash */
.complete-btn,
.trash-btn {
  padding: 0.8rem 1rem;
  border: none;
  font-size: inherit;
  background: inherit;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.complete-btn:hover,
.trash-btn:hover {
  opacity: 1;
}

.complete-btn {
  color: var(--primary-color);
}

.trash-btn {
  color: var(--danger-color);
}

/* Icons */
.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Dropdown menu */
.select-container {
  /* align-self: flex-end; */
  margin: 0.5rem 0;
  position: relative;
  overflow: hidden;
}

/* Arrow symbol */
.select-container::after {
  content: "\25BC";
  position: absolute;
  bottom: 0px;
  left: 130px; 
  padding: 0.8rem 1.4rem 0.8rem 1rem;
  cursor: pointer;
  pointer-events: none;
}

.filter-todo {
  align-self: flex-end;
  width: 12rem;
  padding: .8rem 2rem;
  font-size: var(--text-md);
  border-radius: 30px;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.filter-todo:hover {
  background-color: var(--secondary-color);
}

select option {
  color: var(--dark-color);
  background-color: #fff;
  outline: none;
}