/* Nav */
.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 2rem;
  list-style-type: none;
}

.nav li {
  padding: 1rem;
}

.nav-link {
  color: var(--dark-color);
  text-decoration: none;
  transition: all 0.1s ease;
}

.nav-link:hover {
  color: #777;
}

/* Logo */
.todo-header img {
  width: 2rem;
  margin: 0 1rem;
}

/* App name */
.todo-header .heading {
  font-size: var(--text-xl);
}

.todo-header,
.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

/* Form Input */
.todo-input {
  width: 30rem;
  margin: 0 1rem;
  padding: 0.8rem 1rem;
  border: none;
  font-size: var(--text-md);
  background: #fff;
  box-shadow:  0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}

.todo-input:first-child {
  width: 18rem;
  font-weight: bold;
}

.todo-input:focus::placeholder {
  color: var(--dark-color);
}

/* Todo list container */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Todo list */
.todo-list {
  width: 50vw;
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  font-size: inherit;
  color: var(--dark-color);
  background: #fff;
  box-shadow:  0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  transition: all 1s ease-in-out;
}

/* .todo label {
  font-weight: bold;
} */

/* Todo text */
.todo-subject {
  padding: 0 1.2rem;
  flex: 1;
  font-weight: bold;
}

.todo-desc {
  font-style: italic;
}

/* Buttons */
.todo-input:focus,
.plus-button:focus,
.trash-btn:focus,
.complete-btn:focus {
  outline: none;
}

.plus-button {
  margin-right: 1rem;
  border: none;
  color: var(--primary-color);
  background: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.plus-button:hover {
  color: var(--secondary-color);
}

.complete-btn,
.trash-btn {
  padding: 0.8rem 1rem;
  border: none;
  font-size: inherit;
  background: inherit;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.complete-btn:hover,
.trash-btn:hover {
  opacity: 1;
}

.complete-btn {
  color: var(--primary-color);
}

.trash-btn {
  color: var(--danger-color);
}

/* Icons */
.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Dropdown menu */
.select-container {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

/* Arrow symbol */
.select-container::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem 1.4rem 0.8rem 1rem;
  /* background: var(--danger-color); */
  cursor: pointer;
  pointer-events: none;
}

.filter-todo {
  width: 12rem;
  padding: .8rem 2rem;
  font-size: var(--text-md);
  border-radius: 30px;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.filter-todo:hover {
  background-color: var(--secondary-color);
}

select option {
  color: var(--dark-color);
  background-color: #fff;
  outline: none;
}