.base-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  color: var(--dark-color);
}

.auth-heading {
  margin: 0 0 2rem;
  font-size: var(--text-xl);
  text-align: left;
}

/* Form */
.auth-form {
  width: 40%;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.2rem;
  transition: all .25s ease-in-out;
}

.form-group:focus {
  border: 1.5px solid var(--primary-color);
}

/* Form input container */
.form-group .input-container {
  width: 100%;
}

/* Icons */
.form-group i {
  position: absolute;
  padding: .3rem .1rem;
}

.form-group i > svg {
  width: 22px;
  height: 22px;
  margin: .4rem .2rem;
}

/* Form inputs */
.form-group .form-control {
  box-sizing: border-box;
  width: 100%;
  padding-left: 2.8rem;
  height: 2.8rem;
  font-size: var(--text-sm);
  font-family: inherit;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--medium-dark-color);
  background-color: inherit;
  transition: all .15s ease-in-out;
}

.form-group .form-control:focus {
  outline: none;
  border-color: var(--dark-color);
}
.form-group .form-control:focus::placeholder {
  color: var(--dark-color);
}