@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --primary-color: #42d5d0;
  --secondary-color: #29c4bf;
  --danger-color: #dc2616;
  --dark-color: #222;
  --medium-dark-color: #757575;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  background-color: #f8f8f8;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Make scrollbar transparent */
}

/* Nav */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  padding: 2rem 5rem 0;
}

.navbar .navbar-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  font-size: var(--text-lg);
  font-weight: bold;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo {
  width: 1.5rem;
  margin: 0 0.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style-type: none;
}

.nav li {
  padding: 1rem;
}

.nav-link {
  color: var(--dark-color);
  text-decoration: none;
  transition: all 0.1s ease;
}

.nav-link:hover {
  color: #777;
}

/* Button */
.btn {
  color: #fff;
  width: 100%;
  height: 2.8rem;
  font-size: var(--text-md);
  font-family: inherit;
  margin-top: 3rem;
  padding: 0 2rem;
  border: none;
  border-radius: 30px;
  background-color: var(--primary-color);
  box-shadow: 1.5px 3px 7px 0.5px rgba(66, 213, 208, 0.3);
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  outline: none;
  background-color: var(--secondary-color);
  box-shadow: 1.5px 3px 7px 0.5px rgba(41, 196, 191, 0.3);
  transform: translateY(-5px);
  cursor: pointer;
}
